@font-face {
    font-family: libre frankin;
    src:url(/static/LibreFranklin-Bold.ttf)
}

.my-header {
    text-align: center;
    margin-top:50px;
}

.logo{
    font-weight: 600;
}
.my-img {
    display: flex;
    align-items: center;
    justify-content: center;  
    
}
.dashboard {
    
    height:80%;
    width:40%;
}
body{
    
    Font-size: 20px;
}

span {
    font-family:Libre frankin;
    color: hsl(209, 33%, 12%);

}

.launching{
    
    font-weight: 300;
    font-size: 30px;
    color: hsl(0, 0%, 59%);
    margin-top: none;   
}
.description{
    height:2%;
    width: 100%;
}
.subscribe{
   font-size: 15px;
   text-align: center;
}

#email{
    height: 30px;
    width: 300px;
    font-size: 15px;
    border-width: thin;
    border-radius: 17px;
    border: solid 1px;
    border-color: hsl(0, 0%, 59%);
    padding-left: 14px;
    outline: none;
    
}
::placeholder {
    color:hsl(0, 0%, 59%);
  }
.submit{
    border: none;
    background-color:hsl(223, 87%, 63%);
    height: 34px;
    width: 110px;
    font-size: 15px;
    border-radius: 50px;
    color: white;
    text-align: center;
    margin-left: 10px;
   

}
 .submit:hover{
    cursor: pointer;
    padding: 10px;
    box-shadow: 2px 3px 2px hsl(223, 87%, 63%);
  background-color: hsl(223, 100%, 88%);
} 
.my-fontawesome {
    width:wh;
    height: 50px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
}
#facebook {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color:white;
    border: solid 0.5px;
    border-color: hsl(223, 100%, 88%)
    
    
}
#twitter {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display:flex;
    justify-content:center;
    align-items: center;
    margin-left: 10px;
    border: solid 0.5px;
    border-color: hsl(223, 100%, 88%)
}
#instagram {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display:flex;
    justify-content:center;
    align-items: center;
    margin-left: 10px;
    border: solid 0.5px;
    border-color: hsl(223, 100%, 88%)
    
}

i {
    
    color:hsl(223, 87%, 63%);
   
    
}
i:hover {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color:hsl(223, 87%, 63%);
    color:white;
    cursor:pointer;
   
}

.right {
    text-align:center;
    color:hsl(0, 0%, 59%);
    font-size: 14px;

}
 p i {
    color:hsl(0, 0%, 59%); 
    
 }
 .diviniput {
    display:flex;
    align-items: center;
    justify-content: center;  
 }
 .container-formdiv {
     text-align:start;
 }
  .formdiv {
      display: flex;
      flex-direction: column;
       
  }
  .myform {
    
      display: flex;
      flex-direction: row;
      
  }
  #mymessage {
      font-size: 11px;
      color: hsl(354, 100%, 66%);
      padding-left: 10px;
  }
  .p-message {
      text-align: center;
  }
  @media screen and (max-width: 375px) {
   .formdivform {
       display: flex;
       flex-direction: column;
   }
   #email {
    height: 30px;
    width: 300px;
   }
   .submit {
    height: 30px;
    width: 300px;
   }
   .myform {
       display: flex;
       flex-direction: column;
   }
   .dashboard {
       padding-top: 5px;
    height: 500%;
    width:120%;
   }
   .logo {
       padding-top:10px;
   }
   .my-footer{
       text-align: center;
       padding-top:0px;
   }
   .right {
       padding-top: 0px;
   }
  }